services:

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      SA_PASSWORD: "Test@123"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  order-service:
    build:
      context: ./OrderService
      dockerfile: Dockerfile
    container_name: order-service
    depends_on:
      - rabbitmq
      - sqlserver
    ports:
      - "5001:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development

  notification-service:
    build:
      context: ./NotificationService
      dockerfile: Dockerfile
    container_name: notification-service
    depends_on:
      - rabbitmq
      - sqlserver
    ports:
      - "5002:8081"
    environment:
      ASPNETCORE_ENVIRONMENT: Development

volumes:
  sql_data: